.title
  color #fff
  text-transform uppercase

.description
  margin-bottom 30px
  margin-top 10px

.description_title
  color #f2f2f2
  font-size 22px

.description-list
  background #000
  border 1px solid #696969
  border-radius 4px
  box-shadow 0 1px 1px #666 inset
  color #f0f0f0
  padding 10px 20px
  list-style none
  width 100%



