.page__wrapper
  background #363237

.content
  padding 60px 20px 0

.content-list
  list-style none
  text-align center
  -webkit-padding-start 0

.content-list_item
  margin 0 auto
  max-width 50%

.tag
  color rgb(0, 253, 255)

.class
  color rgb(237,240,128)

.string
  color rgb(255, 102, 102)

.val
  color rgb(0, 249, 0)
