.page__wrapper
  background #363237

.content
  padding 60px 20px 0

.content-list
  list-style none
  text-align center
  -webkit-padding-start 0

.content-list_item
  margin 0 auto
  max-width 300px
